In [16]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.datasets import load_breast_cancer
from sklearn.preprocessing import StandardScaler
cancer = load_breast_cancer()
import seaborn as sns; sns.set()

In [17]:
df = pd.read_csv('exports/PROJ_DF.csv')

In [26]:
df.shape

(149871, 415)

In [27]:
df.head()

,CASENUM,MAXSEV_IM,SEV_ACC,MONTH,WKDY_IM,CF_3,CF_5,CF_7,CF_12,CF_13,...,MDRDSTRD_14,MDRDSTRD_15,MDRDSTRD_16,MDRDSTRD_17,MDRDSTRD_18,MDRDSTRD_19,MDRDSTRD_92,MDRDSTRD_93,MDRDSTRD_96,MDRDSTRD_97
0,201700000117,2,0,3,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,201700000119,1,0,3,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,201700000124,0,0,3,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,201700000144,3,1,3,5,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,201700000154,0,0,3,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df = df.drop(['Unnamed: 0'], axis=1)

In [25]:
df.columns

Index(['CASENUM', 'MAXSEV_IM', 'SEV_ACC', 'MONTH', 'WKDY_IM', 'CF_3', 'CF_5',
       'CF_7', 'CF_12', 'CF_13',
       ...
       'MDRDSTRD_14', 'MDRDSTRD_15', 'MDRDSTRD_16', 'MDRDSTRD_17',
       'MDRDSTRD_18', 'MDRDSTRD_19', 'MDRDSTRD_92', 'MDRDSTRD_93',
       'MDRDSTRD_96', 'MDRDSTRD_97'],
      dtype='object', length=415)